@media(max-width: 1200px){
    .container {
        max-width: 960px;
    }
}
@media(max-width: 992px){
    .container {
        max-width: 720px;
    }
}
@media(max-width: 768px){
    .container {
        max-width: 540px;
    }
    
    .header__nav {
        position: relative;
        padding: 20px 0;
    }
    
    .menu {
        display: flex;
    }
    
    .header__list {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 90px;
        left: -200px;
        background: var(--black);
        width: 200px;
        transition: 0.5s linear;
    }
    
    .menu:focus ~ .header__list {
        left: 0;
    }
    
}
@media(max-width: 576px){
    .container {
        max-width: 100%;
    }
}