@import url(fonts.css);

:root

    {
    --white: #fff;
    --black: #000;
    --linkHover: #ED8E00;
    --title: #F18128;
    --btnBg: #F18128;
    --btnBgHover: #040D1F;
    --Comfortaa: 'Comfortaa';
    --Montserrat: 'Montserrat';
    --Roboto: 'Roboto';
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: var(--Comfortaa);
    background: #040D1F;
    user-select: none;
}

.ads {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.ads__link {
    display: flex;
    align-items: flex-end;
    column-gap: 24px;
}

.ads__link span {
    max-width: 166px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    bottom: 100%;
}

.header__nav {
    background: var(--black);
    backdrop-filter: blur(7.5px);
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo span {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--white);
}

.header__list {
    display: flex;
    column-gap: 30px;
}

.header__link {
    display: inline-block;
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    padding: 42px 6px;
    transition: 500ms;
    position: relative;
}

.header__link:hover {
    color: var(--linkHover);

}

.header__link::after {
    content: '';
    border-radius: 23px 23px 0px 0px;
    background: var(--linkHover);
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    transition: 0.5s linear;
}

.header__link:hover::after {
    width: 100%;
    left: 0;
}

.menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    background: transparent;
    border: none;
    display: none;
}

.menu span {
    display: block;
    width: 100%;
    height: 8px;
    background: var(--linkHover);
    border-radius: 3px;
    transition: 0.5s linear;
}

.menu:focus span:nth-child(1) {
    transform: rotate(45deg) translateY(-16px) translateY(25px) translateX(31px) translateX(-22px);
}

.menu:focus span:nth-child(2) {
    transform: rotate(-45deg);
    background: transparent;
}

.menu:focus span:nth-child(3) {
    transform: rotate(-45deg) translateY(16px) translateY(-25px) translateX(32px) translateX(-23px);
}

.header__banner {
    position: relative;
    height: 100vh;
    display: flex;
}

.header__banner::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(7, 15, 25, 0.75);
    z-index: 1;
}

.header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.header__banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.header__title {
    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 30px;
}

.title {
    display: inline-block;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: var(--title);
    position: relative;
}

.title::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--title);
    position: absolute;
    bottom: 0;
    left: 0;
}

.header__desc {
    max-width: 570px;
    width: 100%;
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
    margin-bottom: 50px;
}

.header__btns {
    display: flex;
    column-gap: 30px;
}

.btn {
    display: inline-block;
    max-width: 166px;
    width: 100%;
    padding: 17px 10px;
    color: var(--black);
    text-align: center;
    border-radius: 4px;
    background: var(--btnBg);
    transition: 0.5s linear;
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
}

.btn:hover {
    background: var(--btnBgHover);
    color: var(--white);
}

.films {
    padding-top: 60px;
    padding-bottom: 77px;
}

.films__title {
    text-transform: capitalize;
    margin-bottom: 54px;
}

.films__cards {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    column-gap: 30px;
}

.films__card {
    min-height: 367px;
    position: relative;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}

.films__card:hover .films__time {
    transform: scale(0);
    opacity: 0;
}

.films__card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 500ms linear;
}

.films__card:hover .films__card-img {
    transform: scale(1.3);
}

.films__card-bg {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.films__card-content {
    z-index: 2;
    padding: 54px 14px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films__icon {
    margin-bottom: 12px;
    transition: 500ms linear;
}

.films__card:hover .films__icon {
    transform: scale(1.5) rotateX(180deg) translateY(-20%);
}

.films__time {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: var(--white);
    padding: 7px;
    border: 1px solid var(--white);
    max-width: 100px;
    width: 100%;
    border-radius: 9px;
    text-align: center;
    margin-bottom: 31px;
    transition: 500ms linear;
}

.films__card-title {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 12px;
}

.films__card-desc {
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
}

.premier {
    min-height: 500px;
    position: relative;
    display: flex;
}

.premier .container {
    display: flex;
}

.premier__video {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.premier__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    z-index: -1;
}

.premier__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 42px;
    padding-bottom: 80px;
    z-index: 2;
}

.premier__logo {
    max-width: 445px;
    width: 100%;
    margin-bottom: 51px;
}

.premier__desc {
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: var(--black);
    max-width: 558px;
    width: 100%;
    margin-bottom: 55px;
}

.collections {
    padding: 61px 0 63px;
}

.collections__title {
    margin-bottom: 51px;
}

.collections__cards {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 30px;
}

.collections__card {
    min-height: 193px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.collections__card-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    z-index: -1;
}

.collections__card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.collections__card-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.collections__card-icon {
    margin-bottom: 15px;
    transition: 0.5s linear;
}

.collections__card:hover .collections__card-icon {
    transform: scale(1.8) rotateX(180deg) translateY(-25%);
}

.collections__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: var(--white);
    text-transform: capitalize;
    transition: 0.5s linear;
}

.collections__card:hover .collections__card-title {
    transform: scale(0);
    opacity: 0;
}

.collections__card-line {
    position: absolute;
    top: 8px;
    bottom: 7px;
    transition: 0.5s linear;
}

.collections__card-line:nth-child(3) {
    left: 7px;
}

.collections__card-line:nth-child(4) {
    right: 7px;
}

.collections__card:hover .collections__card-line:nth-child(3) {
    transform: translateY(150%);
}

.collections__card:hover .collections__card-line:nth-child(4) {
    transform: translateY(-150%);
}

.series {
    padding-bottom: 63px;
}

.series__title {
    margin-bottom: 54px;
}

.series__cards {
    display: grid;
    grid-template: repeat(4, 190px) / repeat(4, 1fr);
    gap: 30px;
}

.series__item {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.series__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    transition: 0.5s linear;
}

.series__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
}

.series__item:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    padding: 22px;
}

.series__item:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.series__item:nth-child(1) .series__item-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: var(--white);
    margin-bottom: 27px;
}

.series__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
    margin-bottom: 30px;
}

.series__icon {
    margin-bottom: 20px;
    transition: 0.5s linear;
}

.series__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: var(--white);
    transition: 0.5s linear;
}

.series__item:hover .series__img {
    transform: scale(1.2);
}

.series__item:hover .series__icon {
    transform: scale(1.6) rotateX(180deg) translateY(-10px);
}

.series__item:hover .series__item-title {
    transform: scale(0);
    opacity: 0;
}

.series__item:nth-child(1):hover .series__item-title {
    transform: unset;
    opacity: unset;
}

.footer {
    padding: 24px 0;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex;
    column-gap: 50px;
}

.footer__span {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--white);
}